*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;

}

body{
background: #f9f9f9;
min-height: 100vh;
overflow-x: hidden;

}

header{
position: absolute;
top: 0;
left: 0;
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px 10px;
z-index: 100;
width: 100%;
}
.logo{
font-size: 40px;
color: #359381;
margin-right: 250px;
cursor: pointer;
}

.nav a{
text-decoration: none;
padding: 6px 15px;
font-weight: 600;
color: #fff;
margin: 0 10px;
border-radius: 50px;

}

nav a:hover, nav a.active{
background:#359381;
color: #fff;
}

section{
position: relative;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
#text{
color: #fff;
position: absolute;
font-size: 6em;
text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

section img{
position: absolute;
top: 0;
left: 0;
width: 100%;
}
.logo b{
color: orangered;
}

footer{
position: relative;
background: #003329;
padding: 100px;
}

footer h2{
font-size: 3em;
color: white;
margin-bottom: 10px;
}
footer p{
font-size: 1em;
font-weight: 300;
color: rgb(97, 85, 85);

}
